.skills-section {
    margin: 5em 0;
}

.skills-heading {
    color: white;
    margin-bottom: 1em;
}

.skills-panel {
    line-height: 1.75em;
    text-align: center;
    color: var(--text-color);
}

.skills-icon {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    margin-right: 0.5em;
}

.skills-highlight {
    color: var(--primary-color);
    text-shadow: 0 0 2px var(--primary-color);
}

.skills-desc {
    color: var(--sub-text-color);
    padding-left: 40px;
}

@media screen and (min-width: 1024px) {
    .skills-panel {
        text-align: left;
        padding-left: 2.5em;
        border-left: 1px solid rgba(255, 255, 255, 0.068);
    }
}
